<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simadesarrollos.smartmonitor">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--<activity android:name=".FirstMapActivity">
    <activity android:name=".ui.activities.VolleyBlockingRequestActivity">
    android:icon="@drawable/cho_launcher"-->

    <application
        android:name="com.simadesarrollos.smartmonitor.models.GlobalData"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".ui.activities.MainTabsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDNZzykpykTT6p2Hr677NvHxyXY53o1K9Y" />
    </application>

</manifest>